@import './variables.scss';

@media (max-width: 500px) {
	.dashboard-card,
	.detail-card {
		min-height: 370px;
	}
}

.dashboard-card,
.detail-card {
	background-color: mix(white, $dashboard-colour, 5);
	padding: 20px 20px 10px 20px;
	margin: 5px;
	box-sizing: border-box;

	flex: 1 1 auto;
	flex-flow: column;
	align-items: stretch;	
}

.dashboard-card-header,
.detail-card-header {
	color: white;
	font-weight: 600;
	font-size: 18px;
	height: $dashboard-card-header-height;

	flex: 0 1 auto;
}

.dashboard-card-header:hover {
	cursor: pointer;
}

//-----------------------------------------------------------------
// Dashboard Charts
//-----------------------------------------------------------------

.dashboard-chart-card {	
	display: grid;
	grid-template-rows: $dashboard-card-header-height auto;
	grid-template-columns: 33.33% 66.66%;
}

.dashboard-chart {
	padding-top: 35px;
	overflow: hidden;
	flex: 1 1 auto;

	grid-column-start: 1;
	grid-column-end: 3;
}

.dashboard-chart.canvas {
	height: 100%;
}

.dashboard-chart-options {
	display: grid;
	grid-template-rows: 100%;
	grid-template-columns: 30% 30% 30% 10%;

	background-color: rgba(255,255,255,0.1);
	border: 1px solid rgba(255,255,255,0.1);
	border-radius: 3px;

	color: white;
	font-size: 9pt;
}

.dashboard-chart-option {
	width: 100%;
	height: 100%;

	display: flex;
	align-items: center;
	justify-content: center;

	position: relative;
}

.dashboard-chart-option:hover {
	background-color: rgba(116, 184, 255, 0.5);
	cursor: pointer;
}

.dashboard-chart-dropdown-option:hover {
	background-color: rgba(116, 184, 255, 0.5);
	cursor: pointer;
}

.dashboard-chart-dropdown {
	position: absolute;
	width: 75px;
	top:$dashboard-card-header-height;
	right:0px;

	display: grid;
	grid-template-rows: $dashboard-card-header-height;
	grid-template-columns: 100%;

	background-color: mix(white, $dashboard-colour, 14.5);
	border: 1px solid rgba(255,255,255,0.2);
	border-radius: 3px;
}

.dashboard-chart-dropdown-option {
	display: flex;
	align-items: center;
	justify-content: center;
	height: $dashboard-card-header-height;
}

.select {
	background-color: rgba(116, 184, 255, 0.5);
}