$FontPathOpenSans: "../../../node_modules/npm-font-open-sans/fonts";
@import '../../../node_modules/npm-font-open-sans/open-sans.scss';

@import './variables.scss';
@import './dashboard-bar.scss';
@import './dashboard-card-common.scss';
@import './dashboard-card-portfolio-breakdown.scss';
@import './dashboard-card-share.scss';
@import './dashboard-dialog-common.scss';
@import './dashboard-dialog-asset.scss';
@import './dashboard-dialog-share.scss';
@import './dashboard-dialog-bank.scss';
@import './dashboard-dialog-loan.scss';

//3rd party scss
@import '../../../node_modules/simplebar/dist/simplebar.min.css';

:root {
	--menu-icon-colour: rgba(255,255,255,0.5);
	--bank-icon-colour: rgba(255,255,255,0.5);
	--shares-icon-colour: rgba(255,255,255,0.5);
	--home-icon-colour: rgba(255,255,255,0.5);
}

body {
	background-color: $dashboard-colour !important;
	font-family: 'Open Sans';
	margin: 0px;
}	

[contenteditable=true]:empty:before{
	content: attr(placeholder);
	pointer-events: none;
	display: block; /* For Firefox */
}

input[type=date]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    display: none;
}

.hidden {
	display: none !important;
}

.fadeOut{
	opacity:0;
	z-index: -1;
	height: 0px !important;
	padding: 0px !important;
	transition: opacity 0.3s, z-index 0s 0.3s, height 0s 0.3s, padding 0s 0.3s;
}

.fadeIn{
	opacity:1;
	transition: opacity 0.3s 0.3s, height 0.3s 0.3s;
	z-index: 1;
}

.dashboard-main-container {
	display: grid;
	grid-template-rows: repeat(2, 45%);
	grid-template-columns: repeat(3, 33.33%);

	position: relative;
	height: 100vh;
	left: $dashboard-bar-width;
	width: calc(100% - #{$dashboard-bar-width});
	padding: 5px;
	box-sizing: border-box;
}

@media (max-width: 500px) {
	/* CSS that should be displayed if width is equal to or less than 800px goes here */
	.dashboard-main-container {
		grid-template-columns: 100%;
	}
}