$FontPathOpenSans: "../../../node_modules/npm-font-open-sans/fonts";
@import '../../../node_modules/npm-font-open-sans/open-sans.scss';

//Variables
$dashboard-colour: #2A303C;
$dashboard-bar-width: 50px;
$dashboard-share-card-height: 40px;
$dashboard-dialog-height: 500px;
$dashboard-dialog-width: 620px;
$dashboard-dialog-header-height: 40px;
$dashboard-dialog-footer-height: 40px;
$dashboard-button-green-color: #81C784;
$dashboard-button-red-color: #ef5350;
$dashboard-button-color: #90CAF9;
$dashboard-card-header-height: 25px;
$dashboard-share-portfolio-card-gap: 15px;
$dashboard-dialog-share-column: 2fr 2fr 4fr 4fr 3fr 3fr 1fr 1fr;

//CSS variables
:root {
	--menu-icon-colour: rgba(255,255,255,0.5);
	--bank-icon-colour: rgba(255,255,255,0.5);
	--shares-icon-colour: rgba(255,255,255,0.5);
	--home-icon-colour: rgba(255,255,255,0.5);
}

body {
	background-color: $dashboard-colour !important;
	font-family: 'Open Sans';
	margin: 0px;
}	

[contenteditable=true]:empty:before{
	content: attr(placeholder);
	pointer-events: none;
	display: block; /* For Firefox */
}

input[type=date]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    display: none;
}

.hidden {
	display: none !important;
}

.fadeOut{
	opacity:0;
	z-index: -1;
	height: 0px !important;
	padding: 0px !important;
	transition: opacity 0.3s, z-index 0s 0.3s, height 0s 0.3s, padding 0s 0.3s;
}

.fadeIn{
	opacity:1;
	transition: opacity 0.3s 0.3s, height 0.3s 0.3s;
	z-index: 1;
}

.dashboard-menu-dialogs {
	position: fixed;
	height: 100%;
	width: 100%;
	background-color: rgba(0,0,0,0.8);
}

.dashboard-menu-dialog {
	position: fixed;
	display: flex;
	align-items: center;
	justify-content: center;
	width: $dashboard-dialog-width;
	height: $dashboard-dialog-height;
	left: 50%;
	top: calc((100% - #{$dashboard-dialog-height})/2);
	margin-left: -$dashboard-dialog-width/2; /* Negative half of width. */
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	background-color: $dashboard-colour;
	border-radius: 5px;
}

.dashboard-dialog {
	width: 100%;
	height: 100%;
	display: grid;
	grid-template-rows: $dashboard-dialog-header-height 420px $dashboard-dialog-footer-height;
	grid-template-columns: repeat(3, 33.33%);
} 	

.dashboard-dialog-header {
	grid-column: 1/4;
	line-height: $dashboard-dialog-header-height;
	color: rgba(255,255,255,0.8);
}

.dashboard-dialog-container {
	overflow-y : auto;
	grid-column: 1/4;
	display: flex;
	align-items: center;
	justify-content: center;
	color: rgba(255,255,255,0.5);
}

.dashboard-dialog-green-button,
.dashboard-dialog-red-button,
.dashboard-dialog-neutral-button {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 5px;
	border-radius: 5px;
	cursor: pointer;
}

.dashboard-dialog-green-button {
	color: $dashboard-colour;
	background-color: $dashboard-button-green-color;
}

.dashboard-dialog-red-button {
	color: $dashboard-colour;
	background-color: $dashboard-button-red-color;
}

.dashboard-dialog-neutral-button {
	color: $dashboard-colour;
	background-color: $dashboard-button-color;
}

.bank-dialog-left-button {
	grid-column: 1;
}

.bank-dialog-right-button {
	grid-column: 3;
}

.green-button-disabled {
	background-color: mix(black, $dashboard-button-green-color, 50) !important;
}

.dashboard-dialog-green-button:hover {
	background-color: #A5D6A7;
}

.dashboard-summary-dialog-table-header {
	display: grid;
	grid-template-columns: $dashboard-dialog-share-column;
	width: 100%;
}

.dashboard-summary-table-header-column {
	background-color: mix(white, $dashboard-colour, 5);
	font-size: 12px;
	text-align: center;
	padding: 5px;
	color: white;
}

.dashboard-add-share,
.dashboard-add-share-config-card {
	box-sizing: border-box;
	border-radius: 5px;
	border: 1px dashed mix(white, $dashboard-colour, 10);
	width: 100%;

	font-size: 12px;
	text-align: center;
}

.dashboard-add-share {
	padding: 5px;
}

.dashboard-add-share:hover {
	cursor: pointer;
}

.dashboard-add-share-config-card {
	display: grid;
	grid-template-rows: auto;
	grid-template-columns: $dashboard-dialog-share-column;
}

.dashboard-add-share-config-card>div {	
	font-size: 12px;
	text-align: center;

	padding-top: 5px;
	padding-bottom: 5px;
}

.dashboard-share-config-card>div>div>div>input,
.dashboard-add-share-config-card>div>div>div>input {	
	width: 100%;
	box-sizing: border-box;
	background-color: transparent;
	border: 0px;
	color: inherit;
	text-align: center;
	font-size: 12px;
}

.dashboard-share-sold-date>input[type=checkbox],
.dashboard-share-sold-date>input[type=checkbox] {
	width: 14px;
	height: 100%;
	margin: 0px;
}

.dashboard-share-sold-date {
	display: grid;
	grid-template-columns: 1fr 5fr;
	padding-top: 5px;
	padding-bottom: 5px;
}

.dashboard-share-purchase-date {
	padding-top: 5px;
	padding-bottom: 5px;
}

.dashboard-share-config-card {
	display: grid;
	grid-template-columns: $dashboard-dialog-share-column;

	font-size: 12px;
	text-align: center;
}

.dashboard-share-config-card-item {
	padding-top: 5px;
	padding-bottom: 5px;
}

.dashboard-share-config-card-tick-icon,
.dashboard-share-config-card-cross-icon,
.dashboard-share-config-card-edit-icon,
.dashboard-share-config-card-delete-icon {
	padding-top: 5px;
	padding-bottom: 5px;
}

.dashboard-share-config-card-tick-icon:hover {
	background-color: $dashboard-button-green-color;
	cursor: pointer;
}

.dashboard-share-config-card-edit-icon:hover {
	background-color: $dashboard-button-color;
	cursor: pointer;
}

.dashboard-share-config-card-cross-icon:hover,
.dashboard-share-config-card-delete-icon:hover {
	background-color: $dashboard-button-red-color;
	cursor: pointer;
}

.dashboard-bank-card {
	grid-template-columns: repeat(3, 1fr);
	padding: 10px;
}

.dashboard-share-config-card,
.dashboard-bank-card {
	background-color: mix(white, $dashboard-colour, 5);
	border: 1px solid mix(white, $dashboard-colour, 10);
	border-radius: 5px;
	width: 100%;
	box-sizing: border-box;

	display: grid;
	grid-template-rows: auto;
}

.dashboard-bank-card-name {
	grid-column: 1;
}

.dashboard-bank-card-amount {
	display: flex;
	grid-column: 3;
	justify-content: flex-end;
}

.dashboard-bank-card-expand {
	display: grid;
	grid-column-start: 1;
	grid-column-end: 4;
	height: 100%;
	box-sizing: border-box;
	grid-template-rows: 100%;
	grid-template-columns: repeat(3, 1fr);	
}

.dashboard-bank-card-update {
	display: grid;
	grid-column-start: 1;
	grid-column-end: 4;
	height: 100%;
	box-sizing: border-box;
	grid-template-rows: repeat(2, 1fr);
	grid-template-columns: repeat(3, 1fr);
}

.dashboard-bank-card-label {
	grid-column: 1;
}

.dashboard-bank-card-update-input {
	grid-column: 2/4;
}

.dashboard-bank-form {
	position: relative;
	height: 100%;
}

.dashboard-summary-dialog {
	transition: 0.3s;
	top: 0px;
	height: 100%;
	width: 100%;
	display: grid;
	grid-auto-rows: max-content;
	row-gap: 5px;
}

.dashboard-bank-form-bank-list {
	width: 70%;
	height: 100%;
	margin: auto;
	display: grid;
	grid-template-rows: 100%;
	grid-template-columns: repeat(4,1fr);
}

.dashboard-bank-form-bank-option {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 10px;
}

.dashboard-bank-form-bank-option>img {
	border-radius: 5px;
	width: 100%;
	opacity: 0.5;
	transition: .3s ease;
}

.dashboard-bank-form-bank-option>img:hover {
	opacity: 1;
	transition: .3s ease;
	cursor: pointer;
}

.dashboard-bank-form-input {
	top: 0px;
	width: 50%;
	height: 100%;
	left: 25%;

	display: grid;
	grid-template-rows: repeat(10, 10%);
	grid-row-gap: 10px;
}

.dashboard-bank-list {
	position: absolute;
	top: 0px;
	width: 100%;
	height: 100%;
}

.dashboard-menu-bar {
	position: fixed;
	height: 100%;
	padding-top: 10px;

	display: grid;
	grid-template-rows: repeat(3, $dashboard-bar-width);
	grid-row-gap: 10px;
	grid-template-columns: repeat(1, 100%);

	width: $dashboard-bar-width;
	background-color: mix(black, $dashboard-colour, 10);
}

.dashboard-menu-button {
	height: 100%;
	padding: 10px;
	box-sizing: border-box;
	height: $dashboard-bar-width;
	cursor: pointer;
}

.dashboard-menu-button:hover {
	background-color: #74B8FF;
}

.menu-icon:hover {
	--menu-icon-colour: rgba(0,0,0,0.5);
}

.bank-icon:hover {
	--bank-icon-colour: rgba(0,0,0,0.5);
}

.shares-icon:hover {
	--shares-icon-colour: rgba(0,0,0,0.5);
}

.home-icon:hover {
	--home-icon-colour: rgba(0,0,0,0.5);
}

.icon>svg>path{ /*target the image with css*/
	fill: var(--primary-color);
  }

.dashboard-main-container {
	display: grid;
	grid-template-rows: repeat(2, 45%);
	grid-template-columns: repeat(3, 33.33%);

	position: relative;
	height: 100vh;
	left: $dashboard-bar-width;
	width: calc(100% - #{$dashboard-bar-width});
	padding: 5px;
	box-sizing: border-box;
}

@media (max-width: 500px) {
	/* CSS that should be displayed if width is equal to or less than 800px goes here */
	.dashboard-main-container {
		grid-template-columns: 100%;
	}
}

.dashboard-account-card,
.dashboard-share-portfolio-card {
	background-color: mix(white, $dashboard-colour, 5);
	padding: 20px 20px 10px 20px;
	margin: 5px;
	box-sizing: border-box;

	flex: 1 1 auto;
	flex-flow: column;
	align-items: stretch;	
}	

.dashboard-account-card {	
	display: grid;
	grid-template-rows: $dashboard-card-header-height auto;
	grid-template-columns: 33.33% 66.66%;
}

.dashboard-share-portfolio-card {
	display: grid;
	grid-template-columns: 100%;
	grid-template-rows: $dashboard-card-header-height + $dashboard-share-portfolio-card-gap repeat(auto-fit, $dashboard-share-card-height);
	grid-row-gap: 5px;
}

.dashboard-chart {
	padding-top: 35px;
	overflow: hidden;
	flex: 1 1 auto;

	grid-column-start: 1;
	grid-column-end: 3;
}

.dashboard-chart.canvas {
	height: 100%;
}

.dashboard-card-header {
	color: white;
	font-weight: 600;
	font-size: 18px;
	height: $dashboard-card-header-height;

	flex: 0 1 auto;
}

.dashboard-chart-options {
	display: grid;
	grid-template-rows: 100%;
	grid-template-columns: 30% 30% 30% 10%;

	background-color: rgba(255,255,255,0.1);
	border: 1px solid rgba(255,255,255,0.1);
	border-radius: 3px;

	color: white;
	font-size: 9pt;
}

.dashboard-chart-option {
	width: 100%;
	height: 100%;

	display: flex;
	align-items: center;
	justify-content: center;

	position: relative;
}

.dashboard-chart-option:hover {
	background-color: rgba(116, 184, 255, 0.5);
	cursor: pointer;
}

.dashboard-chart-dropdown-option:hover {
	background-color: rgba(116, 184, 255, 0.5);
	cursor: pointer;
}

.dashboard-chart-dropdown {
	position: absolute;
	width: 75px;
	top:$dashboard-card-header-height;
	right:0px;

	display: grid;
	grid-template-rows: $dashboard-card-header-height;
	grid-template-columns: 100%;

	background-color: mix(white, $dashboard-colour, 14.5);
	border: 1px solid rgba(255,255,255,0.2);
	border-radius: 3px;
}

.dashboard-chart-dropdown-option {
	display: flex;
	align-items: center;
	justify-content: center;
	height: $dashboard-card-header-height;
}

.select {
	background-color: rgba(116, 184, 255, 0.5);
}

.dashboard-share-card {
	background-color: rgba(255,255,255,0.1);
	height: 100%;
	padding-right: 10px;
	box-sizing: border-box;
	font-size: 8.5pt;
	color: white;

	display: grid;
	grid-template-columns: 2fr 2fr 6fr repeat(3, 3fr);
	align-items: center;
	justify-content: center;
}

.center-text,
.center-icon {
	text-align: center;
}

.right-text {
	text-align: right;
}

.left-text {
	text-align: left;
}

.double-row {
	display: grid;
	grid-template-rows: 50%;
}

.red-text {
	color: $dashboard-button-red-color;
}

.green-text {
	color: $dashboard-button-green-color;
}

.neutral-text {
	color: rgba(255,255,255,0.5);
}