//Variables
$dashboard-colour: #2A303C;
$dashboard-bar-width: 50px;
$dashboard-bar-padding: 5px;
$dashboard-share-card-height: 40px;
$dashboard-total-card-height: 50px;
$dashboard-dialog-height: 500px;
$dashboard-dialog-width: 620px;
$dashboard-dialog-header-height: 40px;
$dashboard-dialog-footer-height: 40px;
$dashboard-button-green-color: #81C784;
$dashboard-button-red-color: #ef5350;
$dashboard-button-color: #90CAF9;
$dashboard-card-header-height: 25px;
$dashboard-share-portfolio-card-gap: 15px;
$dashboard-total-card-gap: 15px;
$dashboard-dialog-share-column: 2fr 2fr 4fr 4fr 3fr 3fr 1fr 1fr;
$dashboard-dialog-asset-column: 3fr 6fr 3fr 3fr 1fr 1fr 1fr;
$dashboard-dialog-loan-column: 6fr 4fr 4fr 4fr 1fr 1fr; 