.dashboard-add-share,
.dashboard-add-share-config-card {
  box-sizing: border-box;
  border-radius: 5px;
  border: 1px dashed #3f4550;
  width: 100%;
  font-size: 12px;
  text-align: center; }

.dashboard-add-share {
  padding: 5px; }

.dashboard-add-share:hover {
  cursor: pointer; }

.dashboard-add-share-config-card {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 2fr 2fr 4fr 4fr 3fr 3fr 1fr 1fr; }

.dashboard-add-share-config-card > div {
  font-size: 12px;
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px; }

.dashboard-share-sold-date > input[type=checkbox],
.dashboard-share-sold-date > input[type=checkbox] {
  width: 14px;
  height: 100%;
  margin: 0px; }

.dashboard-share-sold-date {
  display: grid;
  grid-template-columns: 1fr 5fr;
  padding-top: 5px;
  padding-bottom: 5px; }

.dashboard-share-config-card {
  display: grid;
  grid-template-columns: 2fr 2fr 4fr 4fr 3fr 3fr 1fr 1fr;
  font-size: 12px;
  text-align: center; }

.dashboard-share-config-card-dollar-icon,
.dashboard-share-config-card-tick-icon,
.dashboard-share-config-card-cross-icon,
.dashboard-share-config-card-edit-icon,
.dashboard-share-config-card-delete-icon {
  padding-top: 5px;
  padding-bottom: 5px; }

.dashboard-share-config-card-dollar-icon:hover,
.dashboard-share-config-card-tick-icon:hover {
  background-color: #81C784;
  cursor: pointer; }

.dashboard-share-config-card-edit-icon:hover {
  background-color: #90CAF9;
  cursor: pointer; }

.dashboard-share-config-card-cross-icon:hover,
.dashboard-share-config-card-delete-icon:hover {
  background-color: #ef5350;
  cursor: pointer; }
