@import url(../../../node_modules/simplebar/dist/simplebar.min.css);
@font-face {
  font-family: 'Open Sans';
  font-weight: 300;
  font-style: normal;
  src: url("../../../node_modules/npm-font-open-sans/fonts/Light/OpenSans-Light.eot");
  src: url("../../../node_modules/npm-font-open-sans/fonts/Light/OpenSans-Light.eot?#iefix") format("embedded-opentype"), url("../../../node_modules/npm-font-open-sans/fonts/Light/OpenSans-Light.woff2") format("woff2"), url("../../../node_modules/npm-font-open-sans/fonts/Light/OpenSans-Light.woff") format("woff"), url("../../../node_modules/npm-font-open-sans/fonts/Light/OpenSans-Light.ttf") format("truetype"), url("../../../node_modules/npm-font-open-sans/fonts/Light/OpenSans-Light.svg#OpenSansLight") format("svg"); }

@font-face {
  font-family: 'Open Sans';
  font-weight: 300;
  font-style: italic;
  src: url("../../../node_modules/npm-font-open-sans/fonts/LightItalic/OpenSans-LightItalic.eot");
  src: url("../../../node_modules/npm-font-open-sans/fonts/LightItalic/OpenSans-LightItalic.eot?#iefix") format("embedded-opentype"), url("../../../node_modules/npm-font-open-sans/fonts/LightItalic/OpenSans-LightItalic.woff2") format("woff2"), url("../../../node_modules/npm-font-open-sans/fonts/LightItalic/OpenSans-LightItalic.woff") format("woff"), url("../../../node_modules/npm-font-open-sans/fonts/LightItalic/OpenSans-LightItalic.ttf") format("truetype"), url("../../../node_modules/npm-font-open-sans/fonts/LightItalic/OpenSans-LightItalic.svg#OpenSansLightItalic") format("svg"); }

@font-face {
  font-family: 'Open Sans';
  font-weight: normal;
  font-style: normal;
  src: url("../../../node_modules/npm-font-open-sans/fonts/Regular/OpenSans-Regular.eot");
  src: url("../../../node_modules/npm-font-open-sans/fonts/Regular/OpenSans-Regular.eot?#iefix") format("embedded-opentype"), url("../../../node_modules/npm-font-open-sans/fonts/Regular/OpenSans-Regular.woff2") format("woff2"), url("../../../node_modules/npm-font-open-sans/fonts/Regular/OpenSans-Regular.woff") format("woff"), url("../../../node_modules/npm-font-open-sans/fonts/Regular/OpenSans-Regular.ttf") format("truetype"), url("../../../node_modules/npm-font-open-sans/fonts/Regular/OpenSans-Regular.svg#OpenSansRegular") format("svg"); }

@font-face {
  font-family: 'Open Sans';
  font-weight: normal;
  font-style: italic;
  src: url("../../../node_modules/npm-font-open-sans/fonts/Italic/OpenSans-Italic.eot");
  src: url("../../../node_modules/npm-font-open-sans/fonts/Italic/OpenSans-Italic.eot?#iefix") format("embedded-opentype"), url("../../../node_modules/npm-font-open-sans/fonts/Italic/OpenSans-Italic.woff2") format("woff2"), url("../../../node_modules/npm-font-open-sans/fonts/Italic/OpenSans-Italic.woff") format("woff"), url("../../../node_modules/npm-font-open-sans/fonts/Italic/OpenSans-Italic.ttf") format("truetype"), url("../../../node_modules/npm-font-open-sans/fonts/Italic/OpenSans-Italic.svg#OpenSansItalic") format("svg"); }

@font-face {
  font-family: 'Open Sans';
  font-weight: 600;
  font-style: normal;
  src: url("../../../node_modules/npm-font-open-sans/fonts/Semibold/OpenSans-Semibold.eot");
  src: url("../../../node_modules/npm-font-open-sans/fonts/Semibold/OpenSans-Semibold.eot?#iefix") format("embedded-opentype"), url("../../../node_modules/npm-font-open-sans/fonts/Semibold/OpenSans-Semibold.woff2") format("woff2"), url("../../../node_modules/npm-font-open-sans/fonts/Semibold/OpenSans-Semibold.woff") format("woff"), url("../../../node_modules/npm-font-open-sans/fonts/Semibold/OpenSans-Semibold.ttf") format("truetype"), url("../../../node_modules/npm-font-open-sans/fonts/Semibold/OpenSans-Semibold.svg#OpenSansSemibold") format("svg"); }

@font-face {
  font-family: 'Open Sans';
  font-weight: 600;
  font-style: italic;
  src: url("../../../node_modules/npm-font-open-sans/fonts/SemiboldItalic/OpenSans-SemiboldItalic.eot");
  src: url("../../../node_modules/npm-font-open-sans/fonts/SemiboldItalic/OpenSans-SemiboldItalic.eot?#iefix") format("embedded-opentype"), url("../../../node_modules/npm-font-open-sans/fonts/SemiboldItalic/OpenSans-SemiboldItalic.woff2") format("woff2"), url("../../../node_modules/npm-font-open-sans/fonts/SemiboldItalic/OpenSans-SemiboldItalic.woff") format("woff"), url("../../../node_modules/npm-font-open-sans/fonts/SemiboldItalic/OpenSans-SemiboldItalic.ttf") format("truetype"), url("../../../node_modules/npm-font-open-sans/fonts/SemiboldItalic/OpenSans-SemiboldItalic.svg#OpenSansSemiboldItalic") format("svg"); }

@font-face {
  font-family: 'Open Sans';
  font-weight: bold;
  font-style: normal;
  src: url("../../../node_modules/npm-font-open-sans/fonts/Bold/OpenSans-Bold.eot");
  src: url("../../../node_modules/npm-font-open-sans/fonts/Bold/OpenSans-Bold.eot?#iefix") format("embedded-opentype"), url("../../../node_modules/npm-font-open-sans/fonts/Bold/OpenSans-Bold.woff2") format("woff2"), url("../../../node_modules/npm-font-open-sans/fonts/Bold/OpenSans-Bold.woff") format("woff"), url("../../../node_modules/npm-font-open-sans/fonts/Bold/OpenSans-Bold.ttf") format("truetype"), url("../../../node_modules/npm-font-open-sans/fonts/Bold/OpenSans-Bold.svg#OpenSansBold") format("svg"); }

@font-face {
  font-family: 'Open Sans';
  font-weight: bold;
  font-style: italic;
  src: url("../../../node_modules/npm-font-open-sans/fonts/BoldItalic/OpenSans-BoldItalic.eot");
  src: url("../../../node_modules/npm-font-open-sans/fonts/BoldItalic/OpenSans-BoldItalic.eot?#iefix") format("embedded-opentype"), url("../../../node_modules/npm-font-open-sans/fonts/BoldItalic/OpenSans-BoldItalic.woff2") format("woff2"), url("../../../node_modules/npm-font-open-sans/fonts/BoldItalic/OpenSans-BoldItalic.woff") format("woff"), url("../../../node_modules/npm-font-open-sans/fonts/BoldItalic/OpenSans-BoldItalic.ttf") format("truetype"), url("../../../node_modules/npm-font-open-sans/fonts/BoldItalic/OpenSans-BoldItalic.svg#OpenSansBoldItalic") format("svg"); }

@font-face {
  font-family: 'Open Sans';
  font-weight: 800;
  font-style: normal;
  src: url("../../../node_modules/npm-font-open-sans/fonts/ExtraBold/OpenSans-ExtraBold.eot");
  src: url("../../../node_modules/npm-font-open-sans/fonts/ExtraBold/OpenSans-ExtraBold.eot?#iefix") format("embedded-opentype"), url("../../../node_modules/npm-font-open-sans/fonts/ExtraBold/OpenSans-ExtraBold.woff2") format("woff2"), url("../../../node_modules/npm-font-open-sans/fonts/ExtraBold/OpenSans-ExtraBold.woff") format("woff"), url("../../../node_modules/npm-font-open-sans/fonts/ExtraBold/OpenSans-ExtraBold.ttf") format("truetype"), url("../../../node_modules/npm-font-open-sans/fonts/ExtraBold/OpenSans-ExtraBold.svg#OpenSansExtrabold") format("svg"); }

@font-face {
  font-family: 'Open Sans';
  font-weight: 800;
  font-style: italic;
  src: url("../../../node_modules/npm-font-open-sans/fonts/ExtraBoldItalic/OpenSans-ExtraBoldItalic.eot");
  src: url("../../../node_modules/npm-font-open-sans/fonts/ExtraBoldItalic/OpenSans-ExtraBoldItalic.eot?#iefix") format("embedded-opentype"), url("../../../node_modules/npm-font-open-sans/fonts/ExtraBoldItalic/OpenSans-ExtraBoldItalic.woff2") format("woff2"), url("../../../node_modules/npm-font-open-sans/fonts/ExtraBoldItalic/OpenSans-ExtraBoldItalic.woff") format("woff"), url("../../../node_modules/npm-font-open-sans/fonts/ExtraBoldItalic/OpenSans-ExtraBoldItalic.ttf") format("truetype"), url("../../../node_modules/npm-font-open-sans/fonts/ExtraBoldItalic/OpenSans-ExtraBoldItalic.svg#OpenSansExtraboldItalic") format("svg"); }

.dashboard-menu-button {
  height: 100%;
  padding: 10px;
  box-sizing: border-box;
  height: 50px;
  cursor: pointer; }

.dashboard-menu-bar {
  position: fixed;
  height: 100%;
  padding-top: 10px;
  display: grid;
  grid-template-rows: repeat(5, 50px);
  grid-row-gap: 10px;
  grid-template-columns: repeat(1, 100%);
  width: 50px;
  background-color: #262b36; }

.dashboard-menu-button:hover {
  background-color: #74B8FF; }

.menu-icon:hover {
  --menu-icon-colour: rgba(0,0,0,0.5); }

.bank-icon:hover {
  --bank-icon-colour: rgba(0,0,0,0.5); }

.shares-icon:hover {
  --shares-icon-colour: rgba(0,0,0,0.5); }

.home-icon:hover {
  --home-icon-colour: rgba(0,0,0,0.5); }

.icon > svg > path {
  /*target the image with css*/
  fill: var(--primary-color); }

.dashboard-card {
  background-color: #353a46;
  padding: 20px 20px 10px 20px;
  margin: 5px;
  box-sizing: border-box;
  flex: 1 1 auto;
  flex-flow: column;
  align-items: stretch; }

.dashboard-card-header {
  color: white;
  font-weight: 600;
  font-size: 18px;
  height: 25px;
  flex: 0 1 auto; }

.dashboard-chart-card {
  display: grid;
  grid-template-rows: 25px auto;
  grid-template-columns: 33.33% 66.66%; }

.dashboard-chart {
  padding-top: 35px;
  overflow: hidden;
  flex: 1 1 auto;
  grid-column-start: 1;
  grid-column-end: 3; }

.dashboard-chart.canvas {
  height: 100%; }

.dashboard-chart-options {
  display: grid;
  grid-template-rows: 100%;
  grid-template-columns: 30% 30% 30% 10%;
  background-color: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 3px;
  color: white;
  font-size: 9pt; }

.dashboard-chart-option {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative; }

.dashboard-chart-option:hover {
  background-color: rgba(116, 184, 255, 0.5);
  cursor: pointer; }

.dashboard-chart-dropdown-option:hover {
  background-color: rgba(116, 184, 255, 0.5);
  cursor: pointer; }

.dashboard-chart-dropdown {
  position: absolute;
  width: 75px;
  top: 25px;
  right: 0px;
  display: grid;
  grid-template-rows: 25px;
  grid-template-columns: 100%;
  background-color: #494e58;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 3px; }

.dashboard-chart-dropdown-option {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 25px; }

.select {
  background-color: rgba(116, 184, 255, 0.5); }

.dashboard-portfolio-breakdown-card {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 40px calc(100% - 40px); }

.dashboard-portfolio-breakdown-list {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: repeat(4, 1fr);
  grid-row-gap: 10px; }

.dashboard-portfolio-breakdown-total {
  padding-top: 10px;
  margin-top: 10px;
  border-top: 1px solid rgba(255, 255, 255, 0.4);
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  color: white; }

.dashboard-total-card {
  background-color: rgba(255, 255, 255, 0.1);
  height: 50px;
  box-sizing: border-box;
  font-size: 24px;
  color: white;
  display: grid;
  grid-template-columns: 10px 1fr 1fr;
  align-items: center;
  justify-content: center; }

.dashboard-total-card-tag {
  width: 10px;
  height: 100%;
  background-color: white;
  grid-column: 0; }

.dashboard-total-card-label {
  padding-left: 10px;
  font-weight: 600; }

.dashboard-total-card-total {
  padding-right: 10px;
  text-align: right; }

.dashboard-share-card {
  background-color: rgba(255, 255, 255, 0.1);
  height: 40px;
  padding-right: 10px;
  box-sizing: border-box;
  font-size: 8.5pt;
  color: white;
  display: grid;
  grid-template-columns: 2fr 2fr 6fr repeat(3, 3fr);
  align-items: center;
  justify-content: center; }

.dashboard-share-portfolio-list {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: repeat(auto-fill, 40px);
  grid-row-gap: 5px; }

.dashboard-share-portfolio-card {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 40px calc(100% - 40px); }

.center-text,
.center-icon {
  text-align: center; }

.right-text {
  text-align: right; }

.left-text {
  text-align: left; }

.double-row {
  display: grid;
  grid-template-rows: 50%; }

.red-text {
  color: #ef5350; }

.green-text {
  color: #81C784; }

.neutral-text {
  color: rgba(255, 255, 255, 0.5); }

.dashboard-menu-dialogs {
  position: fixed;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.8); }

.dashboard-menu-dialog {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 620px;
  height: 500px;
  left: 50%;
  top: calc((100% - 500px)/2);
  margin-left: -310px;
  /* Negative half of width. */
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  background-color: #2A303C;
  border-radius: 5px; }

.dashboard-dialog {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-rows: 40px auto;
  grid-template-columns: repeat(3, 33.33%); }

.dashboard-dialog-header {
  grid-column: 1/4;
  line-height: 40px;
  color: rgba(255, 255, 255, 0.8); }

.dashboard-dialog-container {
  overflow-y: auto;
  grid-column: 1/4;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgba(255, 255, 255, 0.5); }

.dashboard-summary-table-header-column {
  background-color: #353a46;
  font-size: 12px;
  text-align: center;
  padding: 5px;
  color: white; }

.dashboard-config-card-date {
  padding-top: 5px;
  padding-bottom: 5px;
  z-index: 100; }

.dashboard-dialog-green-button,
.dashboard-dialog-red-button,
.dashboard-dialog-neutral-button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  border-radius: 5px;
  cursor: pointer; }

.dashboard-dialog-green-button {
  color: #2A303C;
  background-color: #81C784; }

.dashboard-dialog-red-button {
  color: #2A303C;
  background-color: #ef5350; }

.dashboard-dialog-neutral-button {
  color: #2A303C;
  background-color: #90CAF9; }

.bank-dialog-left-button {
  grid-column: 1; }

.bank-dialog-right-button {
  grid-column: 3; }

.dashboard-dialog-green-button:hover {
  background-color: #A5D6A7; }

.dashboard-share-summary-dialog-table-header {
  display: grid;
  grid-template-columns: 2fr 2fr 4fr 4fr 3fr 3fr 1fr 1fr;
  width: 100%; }

.dashboard-config-card-date > div > div > input,
.dashboard-share-config-card > div > div > div > input,
.dashboard-add-share-config-card > div > div > div > input {
  width: 100%;
  box-sizing: border-box;
  background-color: transparent;
  border: 0px;
  color: inherit;
  text-align: center;
  font-size: 12px; }

.dashboard-loan-config-card-item,
.dashboard-asset-config-card-item,
.dashboard-share-config-card-item {
  padding-top: 5px;
  padding-bottom: 5px;
  width: 100%;
  background-color: transparent;
  border: 0px;
  color: white;
  text-align: center; }

.dashboard-loan-config-card,
.dashboard-asset-config-card,
.dashboard-share-config-card,
.dashboard-bank-card {
  background-color: #353a46;
  border: 1px solid #3f4550;
  border-radius: 5px;
  width: 100%;
  box-sizing: border-box;
  display: grid;
  grid-template-rows: auto; }

.dashboard-asset-summary-dialog-table-header {
  display: grid;
  grid-template-columns: 3fr 6fr 3fr 3fr 1fr 1fr 1fr;
  width: 100%; }

.dashboard-asset-config-card {
  display: grid;
  grid-template-columns: 3fr 6fr 3fr 3fr 1fr 1fr 1fr;
  font-size: 12px;
  text-align: center; }

.dashboard-add-asset-config-card {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 3fr 6fr 3fr 3fr 1fr 1fr 1fr; }

.dashboard-asset-valuation-entry {
  grid-column: 3/8;
  display: grid;
  grid-template-columns: 3fr 3fr 1fr 1fr 1fr; }

.dashboard-add-share,
.dashboard-add-share-config-card {
  box-sizing: border-box;
  border-radius: 5px;
  border: 1px dashed #3f4550;
  width: 100%;
  font-size: 12px;
  text-align: center; }

.dashboard-add-share {
  padding: 5px; }

.dashboard-add-share:hover {
  cursor: pointer; }

.dashboard-add-share-config-card {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 2fr 2fr 4fr 4fr 3fr 3fr 1fr 1fr; }

.dashboard-add-share-config-card > div {
  font-size: 12px;
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px; }

.dashboard-share-sold-date > input[type=checkbox],
.dashboard-share-sold-date > input[type=checkbox] {
  width: 14px;
  height: 100%;
  margin: 0px; }

.dashboard-share-sold-date {
  display: grid;
  grid-template-columns: 1fr 5fr;
  padding-top: 5px;
  padding-bottom: 5px; }

.dashboard-share-config-card {
  display: grid;
  grid-template-columns: 2fr 2fr 4fr 4fr 3fr 3fr 1fr 1fr;
  font-size: 12px;
  text-align: center; }

.dashboard-share-config-card-dollar-icon,
.dashboard-share-config-card-tick-icon,
.dashboard-share-config-card-cross-icon,
.dashboard-share-config-card-edit-icon,
.dashboard-share-config-card-delete-icon {
  padding-top: 5px;
  padding-bottom: 5px; }

.dashboard-share-config-card-dollar-icon:hover,
.dashboard-share-config-card-tick-icon:hover {
  background-color: #81C784;
  cursor: pointer; }

.dashboard-share-config-card-edit-icon:hover {
  background-color: #90CAF9;
  cursor: pointer; }

.dashboard-share-config-card-cross-icon:hover,
.dashboard-share-config-card-delete-icon:hover {
  background-color: #ef5350;
  cursor: pointer; }

.dashboard-dialog.bank {
  grid-template-rows: 40px 420px 40px; }

.dashboard-bank-card {
  grid-template-columns: repeat(3, 1fr);
  padding: 10px; }

.dashboard-bank-card-name {
  grid-column: 1; }

.dashboard-bank-card-amount {
  display: flex;
  grid-column: 3;
  justify-content: flex-end; }

.dashboard-bank-card-expand {
  display: grid;
  grid-column-start: 1;
  grid-column-end: 4;
  height: 100%;
  box-sizing: border-box;
  grid-template-rows: 100%;
  grid-template-columns: repeat(3, 1fr); }

.dashboard-bank-card-update {
  display: grid;
  grid-column-start: 1;
  grid-column-end: 4;
  height: 100%;
  box-sizing: border-box;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(3, 1fr); }

.dashboard-bank-card-label {
  grid-column: 1; }

.dashboard-bank-card-update-input {
  grid-column: 2/4; }

.dashboard-bank-form {
  position: relative;
  height: 100%; }

.dashboard-summary-dialog {
  transition: 0.3s;
  top: 0px;
  height: 100%;
  width: 100%;
  display: grid;
  grid-auto-rows: max-content;
  row-gap: 5px; }

.dashboard-bank-form-bank-list {
  width: 70%;
  height: 100%;
  margin: auto;
  display: grid;
  grid-template-rows: 100%;
  grid-template-columns: repeat(4, 1fr); }

.dashboard-bank-form-bank-option {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px; }

.dashboard-bank-form-bank-option > img {
  border-radius: 5px;
  width: 100%;
  opacity: 0.5;
  transition: .3s ease; }

.dashboard-bank-form-bank-option > img:hover {
  opacity: 1;
  transition: .3s ease;
  cursor: pointer; }

.dashboard-bank-form-input {
  top: 0px;
  width: 50%;
  height: 100%;
  left: 25%;
  display: grid;
  grid-template-rows: repeat(10, 10%);
  grid-row-gap: 10px; }

.dashboard-bank-list {
  position: absolute;
  top: 0px;
  width: 100%;
  height: 100%; }

.dashboard-loan-summary-dialog-table-header {
  display: grid;
  grid-template-columns: 6fr 4fr 4fr 1fr 1fr;
  width: 100%; }

.dashboard-loan-config-card {
  display: grid;
  grid-template-columns: 6fr 4fr 4fr 1fr 1fr;
  font-size: 12px;
  text-align: center; }

.dashboard-loan-config-file-upload {
  grid-column: 2/4; }

.dashboard-loan-config-file-upload > input {
  box-sizing: border-box;
  width: 100%;
  direction: rtl;
  padding: 10px; }

:root {
  --menu-icon-colour: rgba(255,255,255,0.5);
  --bank-icon-colour: rgba(255,255,255,0.5);
  --shares-icon-colour: rgba(255,255,255,0.5);
  --home-icon-colour: rgba(255,255,255,0.5); }

body {
  background-color: #2A303C !important;
  font-family: 'Open Sans';
  margin: 0px; }

[contenteditable=true]:empty:before {
  content: attr(placeholder);
  pointer-events: none;
  display: block;
  /* For Firefox */ }

input[type=date]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  display: none; }

.hidden {
  display: none !important; }

.fadeOut {
  opacity: 0;
  z-index: -1;
  height: 0px !important;
  padding: 0px !important;
  transition: opacity 0.3s, z-index 0s 0.3s, height 0s 0.3s, padding 0s 0.3s; }

.fadeIn {
  opacity: 1;
  transition: opacity 0.3s 0.3s, height 0.3s 0.3s;
  z-index: 1; }

.dashboard-main-container {
  display: grid;
  grid-template-rows: repeat(2, 45%);
  grid-template-columns: repeat(3, 33.33%);
  position: relative;
  height: 100vh;
  left: 50px;
  width: calc(100% - 50px);
  padding: 5px;
  box-sizing: border-box; }

@media (max-width: 500px) {
  /* CSS that should be displayed if width is equal to or less than 800px goes here */
  .dashboard-main-container {
    grid-template-columns: 100%; } }
